<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418017857147-iui013gkkc6koesa2fi5avrpqboafvhb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418017857147-iui013gkkc6koesa2fi5avrpqboafvhb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>418017857147-f3qracj6lfuq9s72tgueo0ip1v3amvjh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD_JDrd9e7dZvAp_ypZgoaansbelLiP5jc</string>
	<key>GCM_SENDER_ID</key>
	<string>418017857147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.artemisnetwork.renderscan</string>
	<key>PROJECT_ID</key>
	<string>renderscan-20c9b</string>
	<key>STORAGE_BUCKET</key>
	<string>renderscan-20c9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418017857147:ios:8d7fb098eb65d4d74bdcde</string>
</dict>
</plist>